@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,900);

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #5B5B5B;
    -webkit-user-select: none;
    padding: 20px 70px;
    font-size: 16px;
}

nav {
    padding: 20px 0 10px;
    line-height: 2em;
}

nav h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    display: inline-block;
    margin: 0;
    font-size: 2em;
}

#controls {
    display: inline-block;
    float: right;
}

#controls .selectedDevice {
    display: inline-block;
}